{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'account_css.css' %}">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>sign in</title>
  </head>

  <body style="background: linear-gradient(to left, white, skyblue);">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">

            <div class="card-img-left d-none d-md-flex"style=" height: 450px;">
              <!-- Background image for card set in CSS! -->
            </div>
            
            <div class="card-body" >
              <h5 class="card-title text-center">sign in</h5>
              <form class="form-signin" action="login" method="POST" >
                  {% csrf_token %}
                <!-- username label -->
                <div class="form-label-group">
                  <input type="text" id="inputUserame" class="form-control"   
                    name="username" placeholder="Username" required autofocus>
                  <label for="inputUserame">Username</label>
                </div>

                <!-- password label -->
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" 
                    name="password" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                </div>
                
                <!-- sign in btn -->
                <button class="btn btn-lg btn-primary btn-block" type="submit">sign in</button>

                <div style="font-size: 20px">
                  <a class="d-block text-center mt-2 small" href="{{ 'register' }}">sign up</a>
                </div>
              </form>

              <div>
                {%  for message in messages %}
                  <h2 style="color: red; font-size: 15px">
                    {{ message }}
                  </h2>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>