{% extends 'index.html' %}

<!-- Title of the page -->
{% block title %} sign up {% endblock title %}

<!-- Section in body -->
{% block section %}
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<h2 class="heading-section">Sign up</h2>
				</div>	

				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
							<form action="{% url 'signup' %}" class="signin-form" method='POST'>
								{% csrf_token %} 
								{{form}}
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
							    <p class="w-100 text-center">&mdash; Or Sign Up With &mdash;</p>
							    <div class="social d-flex text-center">
									<a href="{% url 'social:begin' 'google-oauth2' %}" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Google</a>
									<a href="{% url 'social:begin' 'facebook' %}" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Facebook</a>
					            </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% endblock section %}