{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Chalets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <!-- navbar -->
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg py-3 s" style=" background: white">
  <div class="container">
    <a href="{{ '' }}" class="navbar-brand">
      <!-- Logo Image -->
      <img src="{% static 'chv.png' %}" width="160"  height="58" alt="" class="d-inline-block align-middle mr-2">
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item active" ><a href="{{''}}" class="nav-link" style="color: black">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a href="{{ 'contactUs/' }}" class="nav-link" style="color: black">Contact Us</a></li>
        <li class="nav-item"><a href="{{ 'accounts/register' }}" class="nav-link" style="color: black">sign up</a></li>
        <li class="nav-item" ><a href="{{ 'accounts/login' }}" class="nav-link" style="color: black">login</a></li>
      </ul>
    </div>
  </div>
</nav>


    <!-- image of homepage -->
    <div class="img">
        <div class="m">
        <p style="color: white">Find Chalets with</p>
        <p style="color: white">best price and excellent service</p>
            <div></div>
        </div>
    </div>

<div>
<!-- grid -->
<div class="container" >
  <div class="row" >
    <div class="col-6" style="border: 6px solid white; width: 600px; height: 300px; background: #e5f3ff">
      <div class="panel panel-yellow">
       <div class="showCard"> <img src="{% static 'dahab.jpg' %}" width="200px" height="150px" style="position: relative;">
           <p style="font-size: 20px">  kkkk </p>
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top: 25px;width: 450px;margin-left: 30px">
                     Book Now
              </button>
           <p style="position: absolute; top: 15px; right: 235px; font-size: 20px"> Description: </p>
       </div>
          <div>

          </div>

      </div>
    </div>
    <div class="col-6" style="border: 6px solid white; width: 600px; height: 300px; background: #e5f3ff">
       <div class="panel panel-yellow">
           <div class="showCard"> <img src="{% static '1107714-2cea2o.jpg' %}" width="200px" height="150px" style="position: relative;">
           <p style="font-size: 20px"> Shams Lodge </p>
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top: 25px;width: 450px;margin-left: 30px">
                     Book Now
              </button>
               <p style="position: absolute; top: 15px; right: 235px; font-size: 20px"> Description: </p>
       </div>
       </div>
    </div>
  </div>
  </div>

    <div class="container" >
  <div class="row" >
    <div class="col-6" style="border: 6px solid white; width: 650px; height: 300px; background: #e5f3ff">
      <div class="panel panel-yellow"></div>
        <div class="showCard"> <img src="{% static 'sharm.jpg' %}" width="200px" height="150px" style="position: relative;">
           <p style="font-size: 20px"> Porto sharm </p>
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top: 25px;width: 450px;margin-left: 30px">
                     Book Now
              </button>
            <p style="position: absolute; top: 15px; right: 235px; font-size: 20px"> Description: </p>
       </div>
    </div>
    <div class="col-6" style="border: 6px solid white; width: 650px; height: 300px; background: #e5f3ff">
       <div class="panel panel-yellow">
           <div class="showCard"> <img src="{% static 'marsa.jpg' %}" width="200px" height="150px"style="position: relative;">
           <p style="font-size: 20px"> Sea view </p>
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top: 25px;width: 450px;margin-left: 30px">
                     Book Now
              </button>
               <p style="position: absolute; top: 15px; right: 235px; font-size: 20px"> Description: </p>
       </div></div>
    </div>
  </div>
  </div>

    <div class="container" >
  <div class="row" >
    <div class="col-6" style="border: 6px solid white; width: 650px; height: 300px; background: #e5f3ff">
      <div class="panel panel-yellow">
          <div class="showCard"> <img src="{% static 'ainsohkna.jpg' %}" width="200px" height="150px"style="position: relative;">
           <p style="font-size: 20px"> Malibu Elsokhna </p>
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top: 25px;width: 450px;margin-left: 30px">
                     Book Now
              </button>
              <p style="position: absolute; top: 15px; right: 235px; font-size: 20px"> Description: </p>
       </div></div>
    </div>

    <div class="col-6" style="border: 6px solid white; width: 650px; height: 300px; background: #e5f3ff">
       <div class="panel panel-yellow">
           <div class="showCard"> <img src="{% static 'rassedr.jpg' %}" width="200px" height="150px"style="position: relative;">
           <p style="font-size: 20px"> La Hacienda </p>
           <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" style="margin-top: 25px;width: 450px;margin-left: 30px">
                     Book Now
              </button>
               <p style="position: absolute; top: 15px; right: 235px; font-size: 20px"> Description: </p>
       </div></div>
    </div>
  </div>
  </div>


    </div>

</body>
</html>
