{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>Chalets</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock content %}  

{% block home %} href="{{''}}" {% endblock home %}
{% block contact %} href="{{ 'contactUs/' }}" {% endblock contact %}
{% block w %} {{ user.username }} {% endblock w %} 
{% block logout %} href="{{ 'accounts/logout' }}" {% endblock logout %}
{% block signup %} href="{{ 'accounts/register' }}" {% endblock signup %} 
{% block login %} href="{{ 'accounts/login' }}" {% endblock login %}

{% block content1 %}
<!-- image of homepage -->
<div class="img">
  <div class="m">
    <p style="color: white">Find Chalets with</p>
    <p style="color: white">best price and excellent service</p>
  </div>
</div>


<!-- grid -->  
<section id="gallery">
  <div class="container">
    <div class="row">

      {% for chalet in chalets %}
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src={{ chalet.image }} alt="" class="card-img-top">
              <div class="card-body">
                <h4 class="card-title">{{ chalet.name }}</h4>
                <h6> {{ chalet.price }} LE </h6>
                <p class="card-text">{{ chalet.description | slice:":75" }} ... </p>
                <a href="{{ 'book/' }}" class="btn btn-outline-success btn-sm">Book Now</a>
              </div>
         </div>
        </div>
      {% endfor %}

    </div>
  </div>
</section>


<!-- footer -->
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #5e9eff;">
    © 2020 Copyright:
    <a class="text-dark" href="#">Chalet.com</a>
  </div>
  <!-- Copyright -->
</footer> 

{% endblock content1 %}
