.img2 {
    background-image: url("corinne-kutz-tMI2_-r5Nfo-unsplash.jpg");
    Background-size : 100% 100% ;
    Background-attachment: fixed ;
}

body {
    background: #027676;
    font-family: Arial, Helvetica;
}

@import url('https://fonts.google.com/specimen/Roboto+Slab?query=roboto+slab');

.card {
    border: none;
    border-radius: 0;
    width: 600px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    opacity: 98%;
}

h3 {
    font-family: Roboto Slab !important;
    font-weight: bold;
}

.contact{
    font-family: Roboto Slab !important;
    font-size: 22px;  
    color: #028282  
}

.form-group span {
    color: rgb(255, 0, 0)
}

.form-group label {
    font-size: 12px;
}

.form-control:focus {
    border: 1.5px solid #adb5bd;
    border-radius: 0;
    box-shadow: none;
    background: #ff000012;
    letter-spacing: 1px;
    color: #000
}

.btn-block {
    border-radius: 0;
    border: none;
    background: blue;
    margin-top: 10px;
    padding-top: 0px;
    background: #027676
}

.btn-block:hover {
    background: #005688;
}

.btn-block:focus {
    box-shadow: none;
    background: #018080 !important
}

.btn-primary span {
    font-size: 12px;
}

.val_error {
    color: #dc3545;
    font-size: 10px;
    padding-top: 5px;
    font-weight: bold
}

.contact1{
    font-size: 16px; 
    margin: 4px;
}
